# API KEY
OPENROUTER_API_KEY=your_api_key_here
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

# DATABASE
PG_HOST=your_host_here
PG_PORT=your_port_here
PG_DB=your_db_here
PG_USER=your_user_here
PG_PASSWORD=your_password_here
POOL_MIN = 1
POOL_MAX = 5

# VECTOR DATABASE 
VECTOR_PG_HOST=your_host_here
VECTOR_PG_PORT=your_port_here
VECTOR_PG_DB=your_db_here
VECTOR_PG_USER=your_user_here
VECTOR_PG_PASSWORD=your_password_here
VECTOR_COLLECTION=properties_chunks

# EMBEDDING 
EMBEDDING_MODEL=intfloat/multilingual-e5-large

# RERANK 
RERANKER_MODEL=cohere/rerank-4-pro
RERANK_TIMEOUT=30

# LangSmith
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=your_project_name_here